*{
	margin: 0;
	padding: 0;
}
.container{
  max-width: 1980px;
  width: 100%;
  margin: auto;
}
.layout{
	display: flex;
	flex-direction: row;
	gap: 304px;
}
section{
	background-color: #0A22F4;
	opacity: 0.95;
}
h1{
	color: #FFFFFF;
	font-size: 32px;
	padding-top: 275px;
	margin-bottom: 30px;
}
.div-p{
	width: 463px;
	height: 99px;
	margin-bottom: 58px;
}
.contact-p{
	color: #FFFFFF;
	font-size: 16px;
}
.phone-logo{
	padding: 22px;
	width: 26px;
	height: 26px;
}
.message-logo{
	padding: 22px;
	width: 26px;
	height: 26px;
}
.phone-background{
	background-color: #FFFFFF;
	width: 70px;
	height: 70px;
}
.message-background{
	background-color: #FFFFFF;
	width: 70px;
	height: 70px;
}
.top-phone{
	margin-top: 60px;
	width: 268px;
	height: 170px;
}
.top-message{
	margin-top: 60px;
	width: 306px;
	height: 170px;
}
.phone{
	display: flex;
	align-items: center;
}
.message{
	display: flex;
	align-items: center;
}
.contact-phone-message{
	display: flex;	
	gap: 98px;
}
.number{
	padding-left: 20px;
	color: #FFFFFF;
}
.email{
	padding-left: 20px;
	color: #FFFFFF;
}
.footer{
	display: flex;
	color: #FFFFFF;
	flex-direction: row;
	gap: 896px;
	align-items: center;
	padding-bottom: 40px;
}
.heart-img{
	width: 26px;
	height: 26px;
	padding-left: 15px;
	padding-right: 10px;
}
.logo-img{
	width: 121px;
	height: 35px;
	padding-left: 30px;
}
.logos{
	display: flex;
	align-items: center;
}
.button{
	position: absolute;
	padding: 18px 36px;
}
button{
	width: 151px;
	height: 55px;
}
.send{
	transform: translatex(277px);
	position: relative;
	width: 223px;
	height: 91px;
	margin-top: 40px;
	margin-bottom: 105px;
}
form{
	width: 463px;
}
label{
	font-size: 16px;
	color: #FFFFFF;
	padding-top: 41px;
}
input{
	background-color: #0A22F4;
	font-size: 16px;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-bottom: 2px solid white;
}
textarea{
	background-color: #0A22F4;
	border: none;
	font-size: 16px;
	color: #FFFFFF
	outline: none;
	resize: none;
	outline: none;
	border-bottom: 0.1px solid white;
	padding-bottom: 81px;
}
.registration{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.map {
    width: 80%;
    width: 463px;
    height: 197px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}